<button type="button" class="btn btn-sm btn-secondary">
  <clr-icon shape="plus"></clr-icon>
  Add job
</button>

<div class="card" *ngFor="let job of this.workflow.dagDefinitionJoined.jobDefinitions; let i = index;">
  <div class="card-block">
    <div class="card-title notSelectable" (click)="hideJob(job.order)">
      <clr-icon shape="angle" dir="{{isHidden(job.order)?'right':'down'}}"></clr-icon>
      {{job.name}}
    </div>
    <div class="accordion-content" *ngIf="!isHidden(job.order)">
      <app-job
        [mode]="mode"
        [jobId]="i"
        [modelChanges]="modelChanges"
        [jobDefintion]="job"
        [jobComponents]="jobComponents">
      </app-job>
    </div>
  </div>
</div>

