# use glob syntax.
syntax: glob
*.class
*~
*.bak

# eclipse conf file
.settings
.classpath
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target

# Hyperdrive-Trigger specific
node
node_modules
logs
