<div *ngIf="!isShow">
  <clr-control-container *ngFor="let val of value; let i = index; trackBy: trackByFn;">
    <label *ngIf="i == 0">{{name}}</label>

    <input clrControl [id]="name+i+0" type="text" placeholder="key" [size]="20" [ngModel]="val[0]" (ngModelChange)="ngModelChanged($event, i,0)"/>
    -
    <input clrControl [id]="name+i+1" type="text" placeholder="value" [size]="40" [ngModel]="val[1]" (ngModelChange)="ngModelChanged($event, i,1)"/>

    <button type="button" class="btn btn-link" (click)="onDelete(i)">
      <clr-icon shape="trash"></clr-icon>
    </button>

    <button type="button" class="btn btn-link" *ngIf="value.length - 1 === i" (click)="onAdd()">
      <clr-icon shape="plus"></clr-icon>
    </button>

  </clr-control-container>
</div>

<div *ngIf="isShow">
    <div class="clr-form-control clr-row" *ngFor="let val of value let i = index;">
      <label *ngIf="i == 0" class="clr-control-label">{{name}}</label>
      <label *ngIf="i != 0" class="clr-control-label"></label>
      <span>{{val[0]}}</span>=<span>{{val[1]}}</span>
    </div>
</div>


