<app-select-field
  [isShow]="mode == workflowModes.SHOW"
  [fieldName]="'Sensor type'"
  [value]="workflow.sensor.sensorType.name"
  [options]="options"
  [modelChanges]="modelChanges"
  [property]="'sensor.sensorType.name'">

</app-select-field>

  <div *ngFor="let property of selectedSensor.properties">
      <div [ngSwitch]="property.type">
        <app-string-field
          *ngSwitchCase="'string-field'"
          [isShow]="mode == workflowModes.SHOW"
          [fieldName]="property.name"
          [value]="workflow.sensor.properties.settings.variables['topic']"
          [modelChanges]="modelChanges"
          [property]="'sensor.properties.settings.variables.topic'">
        </app-string-field>
        <app-set-field
          *ngSwitchCase="'set-field'"
          [isShow]="mode == workflowModes.SHOW"
          [fieldName]="property.name"
          [value]="workflow.sensor.properties.settings.maps['servers']"
          [modelChanges]="modelChanges"
          [property]="'sensor.properties.settings.maps.servers'">
        </app-set-field>
        <app-key-value-field
          *ngSwitchCase="'key-value-field'"
          [isShow]="mode == workflowModes.SHOW"
          [fieldName]="property.name"
          [value]="workflow.sensor.properties['matchProperties']"
          [modelChanges]="modelChanges"
          [property]="'sensor.properties.matchProperties'">
        </app-key-value-field>

      </div>
  </div>

