<div *ngIf="!isShow">
  <clr-select-container>
    <label>{{fieldName}}</label>
    <select clrSelect [(ngModel)]="value" (ngModelChange)="modelChanged($event)">
      <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
  </clr-select-container>
</div>

<div *ngIf="isShow">
  <clr-input-container>
    <label class="clr-control-label">{{fieldName}}</label>
    <input clrInput type="text" [(ngModel)]="value" [readOnly]="true"/>
  </clr-input-container>
</div>
