<app-string-field
  [isShow]="mode == workflowModes.SHOW"
  [fieldName]="'Workflow name'"
  [value]="workflow.name"
  [modelChanges]="modelChanges"
  [property]="'name'">
</app-string-field>
<app-string-field
  [isShow]="mode == workflowModes.SHOW"
  [fieldName]="'Project name'"
  [value]="workflow.project"
  [modelChanges]="modelChanges"
  [property]="'project'">
</app-string-field>
<app-boolean-field
  [isShow]="mode == workflowModes.SHOW"
  [fieldName]="'Is active'"
  [value]="workflow.isActive"
  [modelChanges]="modelChanges"
  [property]="'isActive'">
</app-boolean-field>
