<div *ngIf="!isShow">
  <clr-control-container>
    <label>{{name}}</label>

    <span>Every</span>

    <div class="clr-select-wrapper">
      <select class="clr-select" clrControl [(ngModel)]="base">
        <option *ngFor="let option of frequencies" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <span *ngIf="base == 3">at</span>

    <div class="clr-select-wrapper" *ngIf="base == 3">
      <select class="clr-select" clrControl [(ngModel)]="dayValue" (change)="onDaySelect($event.target.value)">
        <option *ngFor="let option of hourValues" [value]="option">{{option}}</option>
      </select>
    </div>

    <div class="clr-select-wrapper" *ngIf="base == 2">
      <select class="clr-select" clrControl [(ngModel)]="hourValue" (change)="onHourSelect($event.target.value)">
        <option *ngFor="let option of minuteValues" [value]="option">{{option}}</option>
      </select>
    </div>

    <div class="clr-select-wrapper" *ngIf="base == 1">
      <select class="clr-select" clrControl [(ngModel)]="minuteValue" (change)="onMinuteSelect($event.target.value)">
        <option *ngFor="let option of minutesValues" [value]="option">{{option}}</option>
      </select>
    </div>

    <span *ngIf="base == 2"> past the hour</span>

    <span *ngIf="base == 1"> minutes</span>


  </clr-control-container>
</div>

<div *ngIf="isShow">
  <clr-control-container>
    <label>{{name}}</label>
    <input clrControl type="text" [readOnly]="true" name="workflowName" [size]="40" value="Every day at 12:00" />
  </clr-control-container>
</div>